
<main>
  <div class="main-thumbs">  
    <% @investors.each do |investor| %> 
      <div class="single-thumb">
        <a href="/investor_details?id=<%= investor["id"] %> ">
          <img src="<%= investor["logo_url"] %> " alt=""> 
        </a>  
      <% end %>
      </div>
  </div>
</main>

<div class="investor-update">
  <h3>Help us add more investors!</h3>
  <form action="/create_investor" method="post">
    <label for="">name</label> <br>
    <input type="text" name="name"> <br>
    <label for="">url</label> <br>
    <input type="text" name="url"> <br>
    <label for="">logo url</label> <br>
    <input type="text" name="logo_url"> <br>
    <label for="">portfolio_size</label> <br>
    <input type="text" name="portfolio_size"> <br>
    <label for="">Funds Under Management(FUM)</label> <br>
    <input type="text" name="fum"> <br>
    <label for="">Investor Type</label> <br>
    <select type="text" name="type">
      <option value="Angel Group">Angel Group</option>
      <option value="Angel Individual">Angel Individual</option>
      <option value="Family Office">Family Office</option>
      <option value="Equity Crowd Source Funding">Equity Crowd Source Funding</option>
      <option value="Venture Capital Firm">Venture Capital Firm</option>
    </select><br>
    <button>Submit</button>
  </form>
</div>