
<div class="main-thumbs">  
  <% @investors.each do |investor| %> 
    <div class="single-thumb">
      <a href="/investor_details?id=<%=investor["id"] %> ">
        <img src="<%= investor["logo_url"] %> " alt=""> 
      </a>  
    </div>
    <% end %>
</div>

