
<div class="main-thumbs">  
  <% @investors.each do |investor| %> 
    <div class="single-thumb">
      <a href="/investor_details?id=<%=investor["id"] %> ">
        <img src="<%= investor["logo_url"] %> " alt=""> 
      </a>  
    </div>
    <% end %>
</div>

<form action="/create_investor" method="post">
  <label for="">name</label> <br>
  <input type="text" name="name"> <br>
  <label for="">url</label> <br>
  <input type="text" name="url"> <br>
  <label for="">logo url</label> <br>
  <input type="text" name="logo_url"> <br>
  <label for="">portfolio_size</label> <br>
  <input type="text" name="portfolio_size"> <br>
  <label for="">Funds Under Management(FUM)</label> <br>
  <input type="text" name="fum"> <br>
  <button>Submit</button>
</form>