<div class="container">


  <h1>SUNDAY FOUNDERS</h1>
  <h1>Our <%= @keyword %> Platform...  </h1>
  <p>... is coming soon and you should really give it a go</p>
  <p>Register your email to find out more</p>
  <form action="/tell_me_more" method="post">
    <input type="hidden" name="keyword" value="<%= @keyword %>" />
    <input type="email" name="email" placeholder="Enter your email" />
    <input type="submit" name="submit_button" value="submit"  />

  </form>

</div>