<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css'>

  <title>Sunday Founders</title>
</head>
<body>
  <div class="logged-in-nav">
    <div class="nav">
      <% if logged_in? %>
        <p class="login-email-nav">Hi, <%= current_user["email"] %>!</p>
        <a href="/my_ratings">my ratings</a> <br>
        <a href="/settings">settings</a>
        <form action="/logout" method="post" >
          <input type="hidden" name="_method" value="delete">
          <button>logout</button>
        </form>
      <% end %>
    </div>
  </div>

  <div class="heading-nav">
    <a href="/"><img class="logo" src="https://static1.squarespace.com/static/5c386d5c697a98c3d98b4739/t/5d2bed06d13ca700016d6e5a/1568856640013/?format=1500w" alt=""></a>


    <header class="home-header">
      <h1 class="tracking-in-expand">Sunday Founders</h1>
    </header>

    <div class="main-nav">
        <nav class="sub-main-nav">
            <a class="nav-item" href="/investors">investors</a>
            <a class="nav-item signup" href="/signup">signup</a>
            <a class="nav-item" href="/login">login</a>
        </nav>
    </div>
  </div>






  <div class="main-yield">
  
    <%= yield %>  
  
  </div>

  <footer>

    <p class="signup-text"> Sign up for our <%= %w(AWESOME AMAZING TRANSPARENT).sample %> newsletter:  </p>

    <form action="/tell_me_more" method="post">
      <input type="hidden" name="keyword" value="<%= @keyword %>" />
      <input type="email" name="email" placeholder="Enter your email" />
      <input type="submit" name="submit_button" value="submit"  />
    </form>
  </footer>

</body>
</html>
