<br>
<br>
<br>
<br>
<br>

<h2>Already a member? Glad to have you back!</h2>
<h3>Please log in:</h3>

<form action="/login" method="post">
  <label for="">email</label>
  <input type="text" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>login</button>
</form>

<p>Haven't created your membership yet? <a href="/signup">Signup.</a></p>