<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome to your profile page, <%= @user["email"] %>!</h1>

<h2>Here's your list of ratings and reviews</h2>


<h2>We would love to get to know you more...</h2>

<form action="">
  <label for=""></label>

</form>


<p>Have more investors to rate? <a href="/investors">click here</a> </p>

