<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>We would love to get to know you more...</h2>

<form action="">
  <label for="">First Name:</label>
  <input type="text">
  <label for="">Last Name:</label>
  <input type="text"> <br>
  <label for="">City:</label>
  <input type="text">
  <label for="">Country:</label>
  <input type="text"> <br>
  <label for="">Industry:</label>
  <input type="text"> 
  <br>
  <br>
  <label for="">Demographic data. This is helpful to create a more equal landscape:</label> <br>
  <label for="">Gender</label>
  <input type="text">
  <label for="">Race</label>
  <input type="text"> <br>
  <button>submit</button>
</form>

<p>Interested in leaving us? We're sorry to see you go but respect your decision: </p>


<button>delete account</button>