
<h2>Update your information:</h2>
<form action="/update_user" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="id" value="<%= current_user["id"] %>">

  <label for="">email</label><br>
  <input type="text" name="email" value="<%= current_user["email"] %>"> <br>
  <button>Update</button>
</form>


<h2>We would love to get to know you more...</h2>

<form action="">
  <label for="">First Name:</label>
  <input type="text">
  <label for="">Last Name:</label>
  <input type="text"> <br>
  <label for="">City:</label>
  <input type="text">
  <label for="">Country:</label>
  <input type="text"> <br>
  <label for="">Industry:</label>
  <input type="text"> 
  <br>
  <br>
  <label for="">Demographic data. This is helpful to create a more equal landscape:</label> <br>
  <label for="">Gender</label>
  <input type="text">
  <label for="">Race</label>
  <input type="text"> <br>
  <button>submit</button>
</form>

<p>Interested in leaving us? We're sorry to see you go...</p>
<form action="/delete_user" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="email" value="<%= current_user["email"]%>">
  <button>delete</button>
</form>
