
<h2>New here? Thanks for signing up!</h2>
<h3>We look forward to your ratings and reviews</h3>
<form action="/signup" method="post">
  <label for="">email</label>
  <input type="text" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>login</button>
</form>

<p>Already a member? <a href="/login">Log in.</a></p>